[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
black = "*"
pytest = "*"
aiohttp = "*"
uvicorn = "*"
fastapi = {version = "*", extras = ["all"]}
python-dotenv = "*"
aiofiles = "*"
pymongo = "*"
pydantic = {version = "*", extras = ["email"]}
bcrypt = "*"
python-jose = {version = "*", extras = ["cryptography"]}
python-multipart = "*"
pytest-asyncio = "*"
httpx = "*"
pytest-trio = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
